*{
    box-sizing: border-box;
}
html {
    overflow-y: scroll;
}
body {
    background-image: url("../img/decor/7.png");
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-height: 100vh;
    align-items: center;
    min-width:1000px;
    color: #365997;
}
dt{
    float: left;
}
p{
    line-height: 1.5;
}
/*-----Header-----*/
header {
    width: 1000px;
}
header img {
    width: 160px;
    height: 80px;
    display: block;
    margin: 20px auto;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 3px solid #2a65c9;
}

nav a {
    text-decoration: none;
    font-size: 35px;
    color: #2a65c9;
}

.active{
    color: #2DB18C;
}
nav a:hover {
   color: #2DB18C;
}
/*-----Footer-----*/
footer {
    width: 1000px;
    display: flex;
    justify-content: center;
    border-top:3px solid #2a65c9;;
}
.copyright{
    margin: 10px;
}

/*-----Blog-----*/

main {
    width: 1000px;
    flex: 1;
}
.articles {
    padding:0;
    margin: 0;
}
.articles li {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    /*margin-bottom: -20px;*/
}
.articles a{
     text-decoration: none;
 }
.articles a:visited{
    color: inherit;
}
.articles a:hover{
    color: #2DB18C;
}
.articles p, .articles h2{
    width: 430px;
}
.articles h2{
    font-size: 19px;
}
.articles p{
    line-height: 1.5;
}
.articles time {
    width: 65px;
    height: 65px;
    text-align: center;
    border: 2px solid #2a65c9;
    border-radius: 100px;
    padding-top: 10px;
    margin: 0 auto;
    color: #2a65c9;
    order: 2;
    font-size: 12px;
    font-weight: bold;
}
.articles li:nth-child(1) time, .articles li:nth-last-child(1) time {
    width: 50px;
    height: 50px;
    font-size: 30px;
    padding-top: 8px;
}
.articles li:nth-last-child(1), .articles li:nth-child(1){
    margin-bottom: 0;
    text-align: right;
}
.articles li:nth-child(even) h2{
    order: 1;
    text-align: right;
}
.articles li:nth-child(odd) h2{
    order: 3;
    text-align: left;
}
.articles li:nth-child(even) p{
    order: 3;
}
.articles li:nth-child(odd) p{
    order: 1;
}
.articles time::after {
    bottom: 0;
    top: 50%;
    content: "";
    display: block;
    position: absolute;
    width: 2px;
    background: #2a65c9;
    left: 50%;
    margin-top: 32px;
}

.articles time::before {
    bottom: 50%;
    top: 0;
    content: "";
    display: block;
    position: absolute;
    width: 2px;
    background: #2a65c9;
    left: 50%;
    margin-bottom: 32px;
}
.articles li:nth-child(1) time::after{
    margin-top: 25px;
}
.articles li:nth-child(1) time::before{
    margin-bottom: 25px;
}
.articles li:nth-last-child(1) time::after{
    top: 100%;
}
.articles li:nth-last-child(1) time::before{
    margin-bottom: 25px;
}
/*-----About-----*/
.about{
    margin-left: 20px;
    margin-right: 20px;
}
.info-about{
    width: 780px;
}
.about dt{
    width: 170px;
}
.skills{
    border-collapse: collapse;
    border-spacing: 0;
    box-sizing: border-box;
    background-image: linear-gradient(to right,white 10%,#4780CB);
    border: 1px solid #A0A0A0;
}
.skills td{
    width: 250px;
    padding: 10px;
    border-bottom: 1px solid #A0A0A0;
}
.skills th{
    border-bottom: 1px solid #A0A0A0;
    width: 250px;
    padding: 10px;
    text-align: left;
    font-weight: normal;
}
.skills tr th:nth-child(4){
    width: 200px;
}
.skills tr td:nth-child(4){
    width: 200px;
}
/*-----Contacts-----*/
.feedback{
    display: flex;
    flex-flow:column wrap;
}
.feedback div {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-top: 20px;
    margin-left: 20px;
}
.feedback div:nth-child(4) p{
    align-self: flex-start;
}
.feedback label{
    width: 100px;
    display:block;
    flex-shrink: 0;
}
.feedback input{
    width: 350px;
    height: 32px;
    padding: 4px 6px;
    flex-shrink:0;
}
.feedback p{
    margin: 0 30px;
}
.feedback em{
    margin: 0 30px;
}
.feedback input:focus, .feedback textarea:focus {
    background-color: #ffffeb;
}
.feedback .description {
    color: #D3D3D3;
    font-size: .85em;
}
.feedback input:focus+.description, .feedback textarea:focus+.description {
    color: #274E7D;
}
.feedback .button:active {
    border: 2px solid #975CBC;
}
.feedback .button:hover {
    background-image: linear-gradient(to bottom,#3AB290,#08AF80);
}
.button {
    padding: 6px 12px;
    background-image: linear-gradient(to bottom,#75B2A1,#62B49D);
    border-radius: 3px;
    border: 1px solid #62B49D;
    color: #fff;
    font-size: .9em;
    cursor: pointer;
}
.feedback .button{
    width: 100px;
}
.feedback textarea{
    align-self: flex-start;
    resize: none;
    width: 450px;
}
.contacts-header{
    color: #274E7D;
    margin-left: 20px;
}
/*-----Projects-----*/

.projects{
    list-style: none;
}
.projects p {
    width: 780px;
}
/*-----Materials-----*/
.wrapper{
    width: 960px;
    margin: 0 auto;
}
