
* {
    box-sizing: border-box;
}
.wrapper{
    width: 500px;
    margin:0 auto;
}
form{
    padding: 10px;
    border-radius: 4px;
    background-color: #5D8FD1;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
li{
    overflow: hidden;
    margin: 2px 0;
    padding: 10px;
    border-radius: 4px;
    white-space: nowrap;
    background-color: #B7CDEA;
}
li span{
    margin-left: 5px;
}
h1,p {
    text-align: center;
}
#new-task{
    width: 440px;
    border-radius: 4px;
}
#add{
    cursor: pointer;
}
.remove{
    cursor: pointer;
    float: left;
    margin: 3px;
}
